

<section class="home-slider owl-carousel">
	<div class="slider-item" style="background-image:url(/images/bg_1.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text align-items-center justify-content-center">
				<div class="col-md-12 ftco-animate text-center">
					<div class="text mb-5 pb-3">
						<h1 class="mb-3">CHÀO MỪNG BẠN ĐẾN  VỚI PHAN HUY HOÀNG</h1>
						<h2>KHÁCH SẠN VÀ KHU NGHỈ DƯỠNG</h2>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="slider-item" style="background-image:url(/images/bg_2.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text align-items-center justify-content-center">
				<div class="col-md-12 ftco-animate text-center">
					<div class="text mb-5 pb-3">
						<h1 class="mb-3">TẬN HƯỞNG VÀ TRẢI NGHIỆM LÊ VĂN HOÀNG</h1>
						<h2>THAM LAM VỚI CHÚNG TÔI</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-3">
			<div class="col-md-7 heading-section text-center ftco-animate">
				<h2>Tin tức</h2>
			</div>
		</div>
		<div class="row d-flex">
            @await Component.InvokeAsync("BlogView")
		</div>
	</div>
</section>


<section class="ftco-booking">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form action="#" class="booking-form">
                    <div class="row">
                        <div class="col-md-3 d-flex">
                            <div class="form-group p-4 align-self-stretch d-flex align-items-end">
                                <div class="wrap">
                                    <label for="#">Check-in Date</label>
                                    <input type="text" class="form-control checkin_date" placeholder="Check-in date">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex">
                            <div class="form-group p-4 align-self-stretch d-flex align-items-end">
                                <div class="wrap">
                                    <label for="#">Check-out Date</label>
                                    <input type="text" class="form-control checkout_date" placeholder="Check-out date">
                                </div>
                            </div>
                        </div>
                        <div class="col-md d-flex">
                            <div class="form-group p-4 align-self-stretch d-flex align-items-end">
                                <div class="wrap">
                                    <label for="#">Room</label>
                                    <div class="form-field">
                                        <div class="select-wrap">
                                            <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                            <select name="" id="" class="form-control">
                                                <option value="">Suite</option>
                                                <option value="">Family Room</option>
                                                <option value="">Deluxe Room</option>
                                                <option value="">Classic Room</option>
                                                <option value="">Superior Room</option>
                                                <option value="">Luxury Room</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md d-flex">
                            <div class="form-group p-4 align-self-stretch d-flex align-items-end">
                                <div class="wrap">
                                    <label for="#">Customer</label>
                                    <div class="form-field">
                                        <div class="select-wrap">
                                            <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                            <select name="" id="" class="form-control">
                                                <option value="">1 Adult</option>
                                                <option value="">2 Adult</option>
                                                <option value="">3 Adult</option>
                                                <option value="">4 Adult</option>
                                                <option value="">5 Adult</option>
                                                <option value="">6 Adult</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md d-flex">
                            
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section ftc-no-pb ftc-no-pt">
    <div class="container">
        <div class="row">
            <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/bg_2.jpg);">
                <a href="https://vimeo.com/45830194" class="icon popup-vimeo d-flex justify-content-center align-items-center">
                    <span class="icon-play"></span>
                </a>
            </div>
            <div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
                <div class="heading-section heading-section-wo-line pt-md-5 pl-md-5 mb-5">
                    <div class="ml-md-0">
                        <span class="subheading">
                            Chào mừng đến với Khách sạn Hotel14
                           
                        </span>
                        <h2 class="mb-4">Chào mừng bạn đến với khách sạn của chúng tôi</h2>
                    </div>
                </div>
                <div class="pb-md-5">
                    <p>Nằm trong top những khách sạn 5 sao đầy chất lượng và xa hoa tại trung tâm Sài Gòn,
                        Saigon Hotel14 được nhiều du khách ấn tượng bởi phong cách thiết kế độc đáo, hiện đại cùng quy mô đầu tư xây dựng cực kì xịn sò.
                        Hiện nay,Hotel14 Saigon đang sở hữu quy mô gồm 100 tầng với gần 3000 hạng phòng nghỉ khác nhau, mỗi hạng phòng được thiết kế theo phong cách tinh tế, nhã nhặn với tầm nhìn bắt mắt, đích thị là một điểm dừng chân dân đầy lộng lẫy, hoa lệ mà bạn không nên bỏ lỡ.


                        Saigon Hotel14 - Nét đẹp thời thượng giữa Sài Thành hoa lệ

                        Không chỉ thế, nơi đây còn trang bị và phục vụ hàng loạt các dịch vụ, tiện ích đi kèm nổi bật như nhà hàng,
                        quán bar, spa cao cấp. Ngoài ra, đội ngũ nhân viên chuyên nghiệp do La Vela Saigon Hotel tuyển dụng và
                        đào tạo hứa hẹn sẽ giúp du khách tận hưởng tối đa mọi phút giây thư giãn tuyệt vời và sảng khoái nhất..</p>
                    <p>Với 1000 nhân viên chuyên nghiệp luôn để lại ấn tượng tốt về cách phục vụ cùng với sự trang trọng mà khách sạn mang đến.</p>
                    <ul class="ftco-social d-flex">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
    @await Component.InvokeAsync("ServiceView")
    @await Component.InvokeAsync("RoomView")



<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(images/bg_1.jpg);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="50000">0</strong>
                                <span>Happy Guests</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="3000">0</strong>
                                <span>Rooms</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="1000">0</strong>
                                <span>Staffs</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="100">0</strong>
                                <span>Destination</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@await Component.InvokeAsync("ReviewView")


